.table-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-buttonsAndFilterTags {
  width: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filters-display{
  padding: 8px 0px 8px 0px;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-x: auto;
  width: inherit;
}

.table-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-right: 12px;
}

.table-search-container {
  display: flex;
  gap: 12px;
}

/* Small devices (phones) */
@media (max-width: 575px) {
  .table-actions-container {
    flex-direction: column;
  }

  .table-buttonsAndFilterTags {
    flex-direction: column;
    align-items: start;
  }

  .table-buttons-container {
    margin: 0;
    margin-bottom: 12px;
  }

  .table-search-container {
    width: 100%;
    margin-bottom: 12px;
  }

}

/* Medium devices (tablets) */
@media (min-width: 768px) {}

/* Large devices (laptops/desktops) */
@media (min-width: 992px) {}

/* Extra large devices (desktops) */
@media (min-width: 1280px) {}
