<p-fluid>
  <form [formGroup]="planFormGroup" (ngSubmit)="onSubmit()">

    <div class="card flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <label for="plan_name">Nombre</label>
          <span *ngIf="isValidField('plan_name')">
            <p-message severity="error" variant="simple" size="small">({{ getFieldError('plan_name') }})</p-message>
          </span>
        </div>
        <input pInputText id="plan_name" name="plan_name" type="text" formControlName="plan_name" placeholder="Nombre del plan"/>
      </div>

      <div class="flex flex-col gap-2">
        <div class="flex gap-5 w-full">
          <div class="flex flex-col gap-2 w-full">
            <div class="flex items-center gap-2">
              <label for="planDetail_from">Desde</label>
              <span *ngIf="isValidField('planDetail_from')">
                <p-message severity="error" variant="simple" size="small">({{ getFieldError('planDetail_from') }})</p-message>
              </span>
            </div>
            <input pInputText id="planDetail_from" name="planDetail_from" type="text" formControlName="planDetail_from" placeholder="0.0"/>
          </div>

          <div class="flex flex-col gap-2 w-full">
            <div class="flex items-center gap-2">
              <label for="planDetail_to">Hasta</label>
              <span *ngIf="isValidField('planDetail_to')">
                <p-message severity="error" variant="simple" size="small">({{ getFieldError('planDetail_to') }})</p-message>
              </span>
            </div>
            <input pInputText id="planDetail_to" name="planDetail_to" type="text" formControlName="planDetail_to" placeholder="0.0"/>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <div class="flex gap-5 w-full">
          <div class="flex flex-col gap-2 w-full">
            <div class="flex items-center gap-2">
              <label for="planDetail_tolerance">Tolerancia</label>
              <span *ngIf="isValidField('planDetail_tolerance')">
                <p-message severity="error" variant="simple" size="small">({{ getFieldError('planDetail_tolerance') }})</p-message>
              </span>
            </div>
            <input pInputText id="planDetail_tolerance" name="planDetail_tolerance" type="text" formControlName="planDetail_tolerance" placeholder="0.0"/>
          </div>

          <div class="flex flex-col gap-2 w-full">
            <div class="flex items-center gap-2">
              <label for="planDetail_priceXdoc">Precio</label>
              <span *ngIf="isValidField('planDetail_priceXdoc')">
                <p-message severity="error" variant="simple" size="small">({{ getFieldError('planDetail_priceXdoc') }})</p-message>
              </span>
            </div>
            <input pInputText id="planDetail_priceXdoc" name="planDetail_priceXdoc" type="text" formControlName="planDetail_priceXdoc" placeholder="0.0"/>
          </div>
        </div>
      </div>

      <p-button type="submit">Crear Plan</p-button>
    </div>
  </form>
</p-fluid>
