.linear-chart-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linear-chart-container {
  width: 256px;
}

/* Small devices (phones) */
@media (max-width: 575px) {
  .linear-chart-header-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 15px;
  }

  .linear-chart-container {
    width: 100%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) {}

/* Large devices (laptops/desktops) */
@media (min-width: 992px) {}

/* Extra large devices (desktops) */
@media (min-width: 1280px) {}
