.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: 8px;
}

.notfound-message {
  font-size: 24px;
  line-height: 32px;
  color: var(--p-text-muted-color);
}

/* Small devices (phones) */
@media (max-width: 575px) {

  .notfound-container {
    padding: 16px;
    border-radius: 8px;
  }

  .notfound-message {
    font-size: 14px;
    line-height: 16px;
    color: var(--p-text-muted-color);
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) {}

/* Large devices (laptops/desktops) */
@media (min-width: 992px) {}

/* Extra large devices (desktops) */
@media (min-width: 1280px) {}
