<app-floating-configurator />
<div
  class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div
      style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
        <div class="text-center mb-8">
          <div class="flex justify-center">
            <img src="images/logo.svg" class="w-40 h-40">
          </div>
          <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Bienvenido a Sildra</div>
          <span class="text-muted-color font-medium">Inicie sesión para continuar</span>
        </div>

        <div>
          <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
            <div>
              <label for="email"
                class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
              <input pInputText id="email" name="email" type="email" formControlName="email" placeholder="Email address"
                class="w-full md:w-[30rem] mb-2" />
                <span *ngIf="isValidField('email')">
                  <p-message severity="error" variant="simple" size="small">{{ getFieldError('email') }}</p-message>
                </span>
            </div>

            <div>
              <label for="password"
                class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2 mt-4">Password</label>
              <p-password id="password" name="password" placeholder="Password" [toggleMask]="true" styleClass="mb-2" [fluid]="true"
                [feedback]="false" formControlName="password"></p-password>
                <span *ngIf="isValidField('password')">
                  <p-message severity="error" variant="simple" size="small">{{ getFieldError('password') }}</p-message>
                </span>
            </div>

            <div class="flex justify-between mt-2 mb-8 gap-8">
              <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary" routerLink="/auth/forgotpassword">
                Forgot password?</span>
            </div>
            <p-toast></p-toast>
            <p-button label="Sign In" styleClass="w-full" type="submit" [loading]="isLoading"></p-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
