<p-toast />
<p-menu #exportMenu [model]="exportItems" [popup]="true" />
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle">
</p-confirmDialog>

<div *ngIf="data()!.length > 0">
  <p-table *ngIf="data" #dt1 [value]="data()!" [(selection)]="selectedRows" [dataKey]="dataKey" [rows]="10"
    [rowHover]="true" [paginator]="true" [columns]="columns" [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
    [globalFilterFields]="filterFields" responsiveLayout="scroll" [sortField]="fieldToSort" [sortOrder]="-1"
    class="min-h-[calc(100vh-8rem)] h-[calc(100vh-8rem)]" selectionMode="multiple">
    <ng-template #caption>
      <div class="flex justify-between items-center flex-column sm:flex-row">
        <div class="flex gap-3">
          <button *ngIf="!isBasicTable" pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <p-button *ngIf="exportable" (onClick)="exportMenu.toggle($event)" severity="secondary" icon="pi pi-upload"
            iconPos="right" label="Exportar" />
        </div>
        <div class="flex gap-3">
          <p-button *ngIf="isCrud" severity="success" (onClick)="showAddForm()">Agregar</p-button>
          <p-button *ngIf="isCrud" severity="danger" (onClick)="confirmDelete()">Eliminar</p-button>
          <p-iconfield *ngIf="!isBasicTable" iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
          </p-iconfield>
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th *ngIf="isCrud"><p-tableHeaderCheckbox /></th>
        <th [ngClass]="{'hidden': column.type === 'hidden'}" *ngFor="let column of columns" style="min-width: 12rem">
          <div class="flex justify-between items-center">
            {{ column.name }}
            <p-columnFilter [type]="column.type" [field]="column.field" display="menu" placeholder="Buscar por">
            </p-columnFilter>
          </div>
        </th>
        <th *ngIf="isCrud">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngIf="isCrud"><p-tableCheckbox [value]="rowData" /></td>

        <td *ngFor="let col of columns" [ngClass]="{'hidden': col.type === 'hidden'}">

          <span *ngIf="col.type === 'numeric'">{{ rowData[col.field] | currency:'DOP':'symbol':'1.2-2' }}</span>
          <span *ngIf="col.type === 'date'">{{ rowData[col.field] | date: 'dd/MM/yyyy' }}</span>

          <span *ngIf="col.type === 'text'
                      && col.field != 'transncf_encf'
                      && col.field != 'transncf_status'">{{ rowData[col.field] }}</span>

          <span [title]="rowData.tipoNcf_name" *ngIf="col.type === 'text' && col.field === 'transncf_encf'">{{
            rowData[col.field] }}</span>

          <span class="flex justify-center" *ngIf="col.type === 'text' && col.field === 'transncf_status'">
            <p-tag [severity]="getSeverity(rowData.transncf_status)">{{ getStatus(rowData.transncf_status) }}</p-tag>
          </span>
        </td>

        <td *ngIf="isCrud" class="flex justify-center">
          <div class="flex gap-3">
            <p-button icon="pi pi-ellipsis-h" text="true" (onClick)="actions.toggle($event)"></p-button>
            <p-popover #actions>
              <div class="flex flex-col gap-2">
                <p-button size="small" severity="contrast" icon="pi pi-trash" text="true" label="Eliminar"
                  (onClick)="confirmDelete(rowData[dataKey])"></p-button>
                <p-button size="small" severity="contrast" icon="pi pi-pencil" text="true" label="Modificar"
                  (onClick)="showAddForm(rowData)"></p-button>
              </div>
            </p-popover>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="border rounded-lg" *ngIf="data()!.length < 1 && !timeout()">
  <app-loader></app-loader>
</div>
<div *ngIf="data()!.length < 1 && timeout()">
  <app-not-found-message></app-not-found-message>
</div>
