  <p-fluid *ngIf="!isLoadingView()">
    <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
      <div class="card flex flex-col gap-4">

        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <label for="user_name">Nombre</label>
            <span *ngIf="isValidField('user_name')">
              <p-message severity="error" variant="simple" size="small">({{ getFieldError('user_name') }})</p-message>
            </span>
          </div>
          <input pInputText id="user_name" type="text" formControlName="user_name" placeholder="Nombre y apellido"/>
        </div>

        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <label for="user_email">E-mail</label>
            <span *ngIf="isValidField('user_email')">
              <p-message severity="error" variant="simple" size="small">({{ getFieldError('user_email') }})</p-message>
            </span>
          </div>
          <input pInputText id="user_email" type="text" formControlName="user_email" placeholder="johndoe@example.com"/>
        </div>

        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <label for="tenants">Compañias asociadas</label>
            <span *ngIf="isValidField('tenants')">
              <p-message severity="error" variant="simple" size="small">({{ getFieldError('tenants')
                }})</p-message>
            </span>
          </div>
          <p-multiselect class="z-50" [options]="companies()" optionLabel="tenant_name" optionValue="tenant_id" placeholder="Seleccione las compañias"
            [maxSelectedLabels]="3" formControlName="tenants" appendTo="body" />
        </div>

        <p-button [loading]="isLoading()" type="submit">{{ buttonText }}</p-button>
      </div>
    </form>
  </p-fluid>

