<p-toast></p-toast>
<app-floating-configurator></app-floating-configurator>
<div
  class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div class=" md:min-w-[35rem] md:p-[0.3rem] lg:min-w-[35rem] lg:p-[0.3rem]"
      style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
        <div class="text-center mb-8">
          <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Cambie su contraseña</div>
        </div>
        <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

          <div>
            <label for="password"
              class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-1">Contraseña</label>
              <div class="mb-2 flex gap-1">
                <p-tag *ngIf="!hasUpper" severity="info">Mayúscula</p-tag>
                <p-tag *ngIf="!hasLower" severity="info">Minúscula</p-tag>
                <p-tag *ngIf="!hasNumber" severity="info">Número</p-tag>
                <p-tag *ngIf="!hasRequiredLength" severity="info">8 caracteres</p-tag>
              </div>
            <p-password id="password" placeholder="Contraseña" styleClass="mb-2" [toggleMask]="true" [fluid]="true"
              [feedback]="true" weakLabel="Hola mundo" (ngModelChange)="passwordRequirements()" formControlName="password">
            </p-password>
            <span *ngIf="isValidField('password')">
              <p-message  severity="error" variant="simple" size="small">{{ getFieldError('password') }}</p-message>
            </span>
          </div>

          <div>
            <label for="password_confirmation"
              class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Confirmar contraseña</label>
            <p-password #confPsw id="password_confirmation" name="password_confirmation" placeholder="Confirmar contraseña"
              [toggleMask]="true" styleClass="mb-2" [fluid]="true" [feedback]="false"
              formControlName="password_confirmation"></p-password>
              <span *ngIf="isValidField('password_confirmation')">
                <p-message  severity="error" variant="simple" size="small">{{ getFieldError('password_confirmation') }}</p-message>
              </span>
          </div>

          <p-button label="Cambiar" styleClass="w-full" type="submit" [loading]="isLoading"></p-button>
          <div *ngIf="success" class="flex flex-col gap-2 items-center">
            <p-message severity="success">Contraseña actualizada con exito.</p-message>
            <p-message severity="info">Redirigiendo al login...</p-message>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
